<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>My code blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <!-- As a link -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1" style="front-weight: bold;">MyCodeBlog</span>
        </div>
    </nav>
</header>
<main>

    <div class = "container" style="width: 60%; padding-bottom: 30px;">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color:white; padding-left:0px;">
                <li class="breadcrumb-item " aria-current="page">
                    <a href="/posts">Posts</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Post</li>
            </ol>
        </nav>
        <article>
            <h1 class="card-title" style="font-weight: bold; margin-bottom: 20px;">
                <span th:text="${post.titulo}"/>.
            </h1>
            <p class="card-subtitle mb-2 text-muted">
                <i class="material-icons">person_outline</i>
                <span th:text="${post.autor}"/>
                <br>
                <i class="material-icons">date_range</i>
                <span th:text="${post.data}"/>
            </p>
            <section>
                <p class="card-text" style="margin-top:40px;">
                    <span th:utext="${post.texto}"/>
                </p>
            </section>







        </article>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Deletar Post
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Deletar Post</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Gostaria de deletar esse post? <span th:text="${post.titulo}"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a role="button" class="btn btn-danger" th:href="${(#mvc.url('CC#deletePost').arg(0,post.id)).build()}">deletar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>